In [1]:
#import dependencies
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint
from datetime import datetime

#import Socrata to pull API data...may need to run pip install sodapy
from sodapy import Socrata

#import password for mySQL from config.py.
from config import password

#import app_token (if desired) from app_token.py to prevent limited pull requests
# from app_token import app_token

In [2]:
#call Socrata without app_token
client = Socrata("data.cdc.gov", None)

# # Example authenticated client (needed for non-public datasets):
# client = Socrata("data.cdc.gov", app_token)

#requests result, limit is 25000 to ensure full data is pulled
results = client.get("a3uk-kgrx", limit="25000")

# Convert to pandas DataFrame
drug_df = pd.DataFrame.from_records(results)

#create month and year string from month and year columns
drug_df["month-year"] = drug_df["month"].apply(lambda x: x[:3]) + " " + drug_df["year"]

#converty month-year column to datetime
drug_df["month-year"] = pd.to_datetime(drug_df["month-year"])

#drop duplicate entries from dataframe
drug_df = drug_df.drop_duplicates(subset=['footnote', 'indicator', 'state', 'month-year', "data_value"])
drug_df = drug_df.reset_index(drop=True)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
#push dataframe contents to mysql

import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

dbuser = 'root'
#read in password from config.py file
dbpassword = password
dbhost = 'localhost'
dbport = '3306'

#database name is Project2 (need to create this locally)
dbname= 'project2'

engine = create_engine(f"mysql://{dbuser}:{dbpassword}@{dbhost}:{dbport}/{dbname}")

# state_cons_df
drug_df.to_sql('drug', engine, index=True, if_exists="replace")

In [4]:
state = "NY"
indicators = drug_df['indicator'].unique()

drug_df[(drug_df['indicator']==indicators[1]) & (drug_df['state']==state)].sort_values(by='month-year')

,data_value,footnote,indicator,month,percent_complete,percent_pending_investigation,predicted_value,state,state_name,year,month-year
4616,96525,Numbers may differ from published reports usin...,Number of Deaths,January,100,0.278684278684279,NaN,NY,NY,2015,2015-01-01
4590,97079,Numbers may differ from published reports usin...,Number of Deaths,February,100,0.29460542444813,NaN,NY,NY,2015,2015-02-01
3226,97885,Numbers may differ from published reports usin...,Number of Deaths,March,100,0.306482096337539,NaN,NY,NY,2015,2015-03-01
4875,98250,Numbers may differ from published reports usin...,Number of Deaths,April,100,0.307379134860051,NaN,NY,NY,2015,2015-04-01
7054,98620,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.313323869397688,NaN,NY,NY,2015,2015-05-01
1239,98695,Numbers may differ from published reports usin...,Number of Deaths,June,100,0.309032879071888,NaN,NY,NY,2015,2015-06-01
1599,98964,Numbers may differ from published reports usin...,Number of Deaths,July,100,0.322339436562791,NaN,NY,NY,2015,2015-07-01
1694,99184,Numbers may differ from published reports usin...,Number of Deaths,August,100,0.337756089691886,NaN,NY,NY,2015,2015-08-01
5886,99349,Numbers may differ from published reports usin...,Number of Deaths,September,100,0.353299982888605,NaN,NY,NY,2015,2015-09-01
4997,99526,Numbers may differ from published reports usin...,Number of Deaths,October,100,0.370757390028736,NaN,NY,NY,2015,2015-10-01
2371,99173,Numbers may differ from published reports usin...,Number of Deaths,November,100,0.395268873584544,NaN,NY,NY,2015,2015-11-01
1281,98476,Numbers may differ from published reports usin...,Number of Deaths,December,100,0.405174864941712,NaN,NY,NY,2015,2015-12-01
5359,97781,Numbers may differ from published reports usin...,Number of Deaths,January,100,0.408054734559884,NaN,NY,NY,2016,2016-01-01
2098,97445,Numbers may differ from published reports usin...,Number of Deaths,February,100,0.401251988301093,NaN,NY,NY,2016,2016-02-01
7178,97131,Numbers may differ from published reports usin...,Number of Deaths,March,100,0.409755896675624,NaN,NY,NY,2016,2016-03-01
6416,97051,Numbers may differ from published reports usin...,Number of Deaths,April,100,0.423488681208849,NaN,NY,NY,2016,2016-04-01
4706,96971,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.437244124532077,NaN,NY,NY,2016,2016-05-01
7294,97038,Numbers may differ from published reports usin...,Number of Deaths,June,100,0.46476638018096,NaN,NY,NY,2016,2016-06-01
3012,97055,Numbers may differ from published reports usin...,Number of Deaths,July,100,0.483231157591057,NaN,NY,NY,2016,2016-07-01
3818,97223,Numbers may differ from published reports usin...,Number of Deaths,August,100,0.493710336031597,NaN,NY,NY,2016,2016-08-01
3043,97410,Numbers may differ from published reports usin...,Number of Deaths,September,100,0.514320911610718,NaN,NY,NY,2016,2016-09-01
8278,97512,Numbers may differ from published reports usin...,Number of Deaths,October,100,0.531216670768726,NaN,NY,NY,2016,2016-10-01
3284,98048,Numbers may differ from published reports usin...,Number of Deaths,November,100,0.540551566579634,NaN,NY,NY,2016,2016-11-01
872,98766,Numbers may differ from published reports usin...,Number of Deaths,December,100,0.585221634975599,NaN,NY,NY,2016,2016-12-01
824,99099,Numbers may differ from published reports usin...,Number of Deaths,January,100,0.575182393364212,NaN,NY,NY,2017,2017-01-01
640,99210,Numbers may differ from published reports usin...,Number of Deaths,February,100,0.574538856970064,NaN,NY,NY,2017,2017-02-01
6814,99308,Numbers may differ from published reports usin...,Number of Deaths,March,100,0.566923107906714,NaN,NY,NY,2017,2017-03-01
3085,99275,Numbers may differ from published reports usin...,Number of Deaths,April,100,0.557038529337698,NaN,NY,NY,2017,2017-04-01
7550,99358,Numbers may differ from published reports usin...,Number of Deaths,May,100,0.548521508081886,NaN,NY,NY,2017,2017-05-01
2364,99706,Numbers may differ from published reports usin...,Number of Deaths,June,100,0.539586383968868,NaN,NY,NY,2017,2017-06-01
8280,99677,Numbers may differ from published reports usin...,Number of Deaths,July,100,0.525698004554712,NaN,NY,NY,2017,2017-07-01
8320,99672,Numbers may differ from published reports usin...,Number of Deaths,August,100,0.511678304839875,NaN,NY,NY,2017,2017-08-01
715,99699,Numbers may differ from published reports usin...,Number of Deaths,September,100,0.511539734601149,NaN,NY,NY,2017,2017-09-01
6589,99369,Numbers may differ from published reports usin...,Number of Deaths,October,100,0.51122583501897,NaN,NY,NY,2017,2017-10-01
1304,99428,Numbers may differ from published reports usin...,Number of Deaths,November,100,0.504887959126202,NaN,NY,NY,2017,2017-11-01
1330,99799,Numbers may differ from published reports usin...,Number of Deaths,December,100,0.498000981973767,NaN,NY,NY,2017,2017-12-01
12921,100553,Underreported due to incomplete data.,Number of Deaths,January,100,0.510178711724165,NaN,NY,NY,2018,2018-01-01
9242,100551,Underreported due to incomplete data.,Number of Deaths,January,100,0.515161460353452,NaN,NY,NY,2018,2018-01-01
11739,100757,Underreported due to incomplete data.,Number of Deaths,February,100,0.527010530285737,NaN,NY,NY,2018,2018-02-01
13810,100769,Underreported due to incomplete data.,Number of Deaths,February,100,0.521985928212049,NaN,NY,NY,2018,2018-02-01
11432,100725,Underreported due to incomplete data.,Number of Deaths,March,100,0.551998014395632,NaN,NY,NY,2018,2018-03-01
4679,100744,Underreported due to incomplete data.,Number of Deaths,March,100,0.541967759866593,NaN,NY,NY,2018,2018-03-01
9414,100804,Underreported due to incomplete data.,Number of Deaths,April,100,0.578350065473592,NaN,NY,NY,2018,2018-04-01
12495,100828,Underreported due to incomplete data.,Number of Deaths,April,100,0.561352005395327,NaN,NY,NY,2018,2018-04-01
13113,100605,Underreported due to incomplete data.,Number of Deaths,May,100,0.5695541971075,NaN,NY,NY,2018,2018-05-01
9028,100566,Underreported due to incomplete data.,Number of Deaths,May,100,0.597617485034704,NaN,NY,NY,2018,2018-05-01
11070,100482,Underreported due to incomplete data.,Number of Deaths,June,100,0.629963575565773,NaN,NY,NY,2018,2018-06-01
13529,100529,Underreported due to incomplete data.,Number of Deaths,June,100,0.588884799411115,NaN,NY,NY,2018,2018-06-01
9308,100707,Underreported due to incomplete data.,Number of Deaths,July,100,0.678205090013604,NaN,NY,NY,2018,2018-07-01
187,100754,Underreported due to incomplete data.,Number of Deaths,July,100,0.616352700637195,NaN,NY,NY,2018,2018-07-01
12432,100859,Underreported due to incomplete data.,Number of Deaths,August,100,0.659336301172925,NaN,NY,NY,2018,2018-08-01

In [5]:
indicators

array(['Natural & semi-synthetic opioids (T40.2)', 'Number of Deaths',
       'Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)',
       'Percent with drugs specified', 'Opioids (T40.0-T40.4,T40.6)',
       'Psychostimulants with abuse potential (T43.6)', 'Heroin (T40.1)',
       'Methadone (T40.3)',
       'Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)',
       'Number of Drug Overdose Deaths',
       'Synthetic opioids, excl. methadone (T40.4)', 'Cocaine (T40.5)'],
      dtype=object)